.formControl {
  width: 30%;
  margin-bottom: 30px !important;
  border-radius: 5px !important;
  background-color: #f3f3f3 !important;
  color: #000 !important;
}

@media (max-width: 770px) {
  .formControl {
    width: 70%;
  }
}
